doctype
html
  head
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css', rel='stylesheet' type='text/css')
    link(href='//fonts.googleapis.com/css?family=Crete+Round:400italic', rel='stylesheet', type='text/css')
    link(href='/styles/index.css', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
    block head
  body
    div.main
      div
        block body
