extends _layout

block head
  meta(http-equiv='refresh', content='1; URL=#{url}')
  script(src='/scripts/snap.svg-min.js')
  script(src='/scripts/download.js')

block body
  div.circle
    div.mask
      div.fill
    div.inner
      h1 Here you are!
      p If the download doesn't start automatically, click 
        a#download(href=url, download=download) here.
