extends _layout

block head

block body
  div.circle
    div.mask
      div.fill
    div.inner
      h1 Password?
      form(role='form', method='post')
        mixin fields
          input.form-control(type='text', name='password', style='text-align: center;')
          script(type='text/javascript').
            document.querySelector('input').focus();
          if error
            span.glyphicon.glyphicon-remove.form-control-feedback(style='top:0;')
        if error
          div.form-group.has-error.has-feedback(style='width: 50%; margin: 10px auto;')
            +fields()
        else
          div.form-group(style='width: 50%; margin: 10px auto;')
            +fields()
        input(type='hidden', name='id', value=id)
        button.btn.btn-default(type='submit') Download
